# include <WinResrc.h>
# include <CommCtrl.h>

# include "Resources.h"

IDD_MAINDIALOG	DIALOG		WINDOW_X, WINDOW_Y, WINDOW_WIDTH, WINDOW_HEIGHT
STYLE			DS_CENTER|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
CAPTION			S_CAPTION
FONT			FONT_SIZE,	FONT_NAME

BEGIN
	CONTROL S_INFO, IDC_STATIC_INFO, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, INFO_X, INFO_Y, INFO_WIDTH, INFO_HEIGHT
    CONTROL "", IDC_LISTVIEW, WC_LISTVIEW, WS_BORDER | LVS_REPORT, LIST_VIEW_X, LIST_VIEW_Y, LIST_VIEW_WIDTH, LIST_VIEW_HEIGHT
	CONTROL S_SELECT, IDC_BUTTON_SELECT, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, SELECT_X, SELECT_Y, SELECT_WIDTH, SELECT_HEIGHT
	CONTROL S_CANCEL, IDC_BUTTON_CANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, CANCEL_X, CANCEL_Y, CANCEL_WIDTH, CANCEL_HEIGHT
END
